body {
  background-color: #8CA2C9;
  font-family: "Amatic SC";
  font-size: 25px;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

p {
  font-size: 30px;
}

div table {
  margin: auto;
  border-spacing: 2px;
}

td {
  overflow: clip;
  max-width: 50px;
}

button {
  padding: 0px;
  border: 0px;
}

#new-game-btn {
  padding: 10px;
  margin: auto;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  z-index: 2;
}

.game-end-overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.game-end-wrapper {
  margin: auto;
  margin-top: 5em;
  text-align: center;
  border: solid;
  padding: 2px;
  width: 251px;
}

.end-content {
  margin: 0px;
}