td {
  overflow: clip;
  max-width: 50px;
}

button {
  padding: 0px;
  border: 0px;
}

#manualR {
  padding: 10px;
  margin: auto;
  display: flex;
  font-size: 15px;
  margin-top: 10px;
}

h1 {
  text-align: center;
}

div table {
margin: auto;
border-spacing: 3px;
}

body {
  background-color: #8CA2C9;
  font-family: "Amatic SC";
  font-size: 25px;
}

p {
  font-size: 30px;
}